.container {}

.container>input {
    font-size: 50px;
    height: 100px;
    width: 80%;
    padding: 30px 10px;
}

.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.button,
.addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add {
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}

.select {
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.select option {
    font-size: 1rem;
}

.input {
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    color: #9cb42d;
    background-color: transparent;
}

.input::placeholder {
    color: #b3b3b1;
}

.publish {
    position: absolute;
    top: 80px;
    right: 70px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

button>.image {
    width: 22px;
    height: 22px;
}


.textArea {
    width: 100%;
}


@media (max-width : 1280px) {
    .select {
        margin-bottom: 10px;
    }

    .container>input {
        font-size: 40px;
        height: 100px;
    }
}

@media (max-width : 640px) {
    .publish {
        right: 20px;
    }

    .select {
        width: 50%;
    }

    .container>input {
        font-size: 20px;
        height: 20px;
        width: 90%;
    }
}