 .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100px;
 }

 .social {
     display: flex;
     gap: 10px;
     flex: 1px;
 }

 .logoContainer {
     flex: 1;
     /* text-align: center; */
 }

 .logo {
     font-size: 30px;
     margin-right: 4px;
     display: flex;
     gap: 5px;
     align-items: center;
     font-weight: bold;
 }

 .logo1 {
     display: block;
 }

 .logo2 {
     display: none;
 }

 .links {
     display: flex;
     align-items: center;
     gap: 20px;
     flex: 1;
     font-size: 20px;
 }



 @media (max-width : 1200px) {
     .logo {
         font-size: 32px
     }

     .links {
         font-size: 18px;
         gap: 15px
     }
 }


 @media (max-width : 1024px) {
     .social {
         display: none;
     }

     .logo {
         text-align: left;
     }
 }

 @media (max-width : 768px) {
     .logo {
         font-size: 24px;
     }

     .links {
         justify-content: flex-end;
     }

     .link {
         display: none;
     }
 }

 @media (max-width : 480px) {
     .logo1 {
         display: none;
     }

     .logo2 {
         display: block;
     }
 }